<?xml version="1.0" encoding="utf-8"?>
<configuration>



  <connectionStrings>
    <add name="cn" connectionString="Server=ALIN;Database=UNIVERS;
        Integrated Security=true;TrustServerCertificate=true"/>
  </connectionStrings>
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.35.0.0" newVersion="6.35.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!--
  <appSettings>
    <add key="ParentTableName" value="GALAXIE"/>
    <add key="ParentIdTable" value="ID_GALAXIE"/>
    <add key="ParentColumnNames" value="ID_GALAXIE,NUME_GALAXIE,ID_UNIVERS"/>
    <add key="ParentColumnTypes" value="INT,VARCHAR,INT"/>
    <add key="ParentNumberOfColumns" value="3"/>
    
    <add key="SelectParentQuery" value="SELECT * FROM GALAXIE"/>
    <add key="ParentInsertQuery" value="INSERT INTO GALAXIE(NUME_GALAXIE,ID_UNIVERS) VALUES (@numeGalaxie, @idUnivers)"/>
    <add key="ParentUpdateQuery" value="UPDATE GALAXIE SET NUME_GALAXIE=@numeGalaxie, ID_UNIVERS=@idUnivers WHERE ID_GALAXIE=@id"/>
    <add key="ParentDeleteQuery" value="DELETE GALAXIE WHERE ID_GALAXIE=@id"/>
    <add key="ParentInsertParameters" value="@id,@numeGalaxie,@idUnivers"/>

    <add key="ChildTableName" value="PLANETA"/>
    <add key="SelectChildQuery" value="SELECT * FROM PLANETA"/>
    <add key="ChildIdTable" value="ID_PLANETA"/>
    <add key="ChildColumnNames" value="ID_PLANETA,NUME,ANI,ID_GALAXIE"/>
    <add key="ChildColumnTypes" value="INT,VARCHAR,INT,INT"/>
    <add key="ChildNumberOfColumns" value="4"/>


    <add key="ChildInsertQuery" value="INSERT INTO PLANETA(NUME, ANI, ID_GALAXIE) VALUES (@nume, @ani, @idParent)"/>
    <add key="ChildUpdateQuery" value="UPDATE PLANETA SET NUME=@nume, ANI=@ani, ID_GALAXIE=@idParent WHERE ID_PLANETA=@id"/>
    <add key="ChildDeleteQuery" value="DELETE PLANETA WHERE ID_PLANETA=@id"/>
    <add key="ChildInsertParameters" value="@id,@nume,@ani,@idParent"/>

  </appSettings>
-->

  <appSettings>
    <add key="ParentTableName" value="UNIVERS"/>
    <add key="ParentIdTable" value="ID_UNIVERS"/>
    <add key="ParentColumnNames" value="ID_UNIVERS,NUME_UNIVERS"/>
    <add key="ParentColumnTypes" value="INT,VARCHAR"/>
    <add key="ParentNumberOfColumns" value="2"/>
    
    <add key="SelectParentQuery" value="SELECT * FROM UNIVERS"/>
    <add key="ParentInsertQuery" value="INSERT INTO UNIVERS(NUME_UNIVERS) VALUES (@numeUnivers)"/>
    <add key="ParentUpdateQuery" value="UPDATE UNIVERS SET NUME_UNIVERS=@numeUnivers WHERE ID_UNIVERS=@id"/>
    <add key="ParentDeleteQuery" value="DELETE GALAXIE WHERE ID_GALAXIE=@id"/>
    <add key="ParentInsertParameters" value="@id,@numeUnivers"/>

    <add key="ChildTableName" value="GALAXIE"/>
    <add key="ChildIdTable" value="ID_GALAXIE"/>
    <add key="SelectChildQuery" value="SELECT * FROM GALAXIE"/>
    
    <add key="ChildColumnNames" value="ID_GALAXIE,NUME_GALAXIE,ID_UNIVERS"/>
    <add key="ChildColumnTypes" value="INT,VARCHAR,INT"/>
    <add key="ChildNumberOfColumns" value="3"/>


    <add key="ChildInsertQuery" value="INSERT INTO GALAXIE(NUME_GALAXIE, ID_UNIVERS) VALUES (@numeGalaxie, @idParent)"/>
    <add key="ChildUpdateQuery" value="UPDATE GALAXIE SET NUME_GALAXIE=@numeGalaxie, ID_UNIVERS=@idParent WHERE ID_GALAXIE=@id"/>
    <add key="ChildDeleteQuery" value="DELETE GALAXIE WHERE ID_GALAXIE=@id"/>
    <add key="ChildInsertParameters" value="@id,@numeGalaxie,@idParent"/>

  </appSettings>
  
  


</configuration>